:root{
	--font-family: Arial, Helvetica, sans-serif;
	--base-font-size: 16px;

	--color--primary: black;
	--color--secondary: red;
}

body{
	font-family: var(--font-family);
	font-size: 16px;
}

header{
	font-size: 18px;
	border-bottom: solid 1px black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1{
	margin: 18px;
}

header p{
	margin: 18px;
}